#include "keys_ru.h"
#include "colemak_keys.h"
#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        ru_signs: ru_signs {
            compatible = "zmk,behavior-tap-dance";
            label = "RU_SIGNS";
            #binding-cells = <0>;
            bindings = <&kp RU_CYRILLIC_SOFT_SIGN>, <&kp RU_CYRILLIC_HARD_SIGN>;
        };

        mo_to_ru: mo_to_ru {
            compatible = "zmk,behavior-hold-tap";
            label = "MO_TO_RU";
            bindings = <&kp>, <&layer_ru>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-while-undecided;
            hold-while-undecided-linger;
        };

        mo_to_en: mo_to_en {
            compatible = "zmk,behavior-hold-tap";
            label = "MO_TO_EN";
            bindings = <&kp>, <&layer_en>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-while-undecided;
            hold-while-undecided-linger;
        };

        mkpl: mkpl {
            compatible = "zmk,behavior-hold-tap";
            label = "MKPL";
            bindings = <&mo>, <&mkp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        hrl: hrl {
            compatible = "zmk,behavior-hold-tap";
            label = "Home row left";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            require-prior-idle-ms = <150>;
            quick-tap-ms = <175>;
            hold-trigger-key-positions = <6 18 30 31 19 7 20 32 8 9 10 11 23 22 21 33 34 35 45 44 41 42>;
            hold-trigger-on-release;
            flavor = "balanced";
        };

        ru_semi_colon: ru_semi_colon {
            compatible = "zmk,behavior-mod-morph";
            label = "RU_SEMI_COLON";
            bindings = <&kp LG(RU_SEMI)>, <&kp RU_COLON>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            keep-mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        ru_io: ru_io {
            compatible = "zmk,behavior-tap-dance";
            label = "RU_IO";
            #binding-cells = <0>;
            bindings = <&kp RU_CYRILLIC_IE>, <&kp RU_CYRILLIC_IO>;
        };

        hrr: hrr {
            compatible = "zmk,behavior-hold-tap";
            label = "HRR";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            require-prior-idle-ms = <150>;
            quick-tap-ms = <175>;
            hold-trigger-on-release;
            flavor = "balanced";
            hold-trigger-key-positions = <5 17 29 28 16 4 3 15 27 37 36 26 14 2 1 13 25 38>;
        };
    };

    combos {
        compatible = "zmk,combos";

        left_bracket {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <15 16>;
        };

        left_brace {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <19 20>;
        };
    };

    macros {
        to_ru: to_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LC(N2))>;
            label = "TO_RU";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        to_en: to_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LC(N1))>;
            label = "TO_EN";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        layer_en: layer_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 0 &to_en>;
            label = "LAYER_EN";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        layer_ru: layer_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 1 &to_ru>;
            label = "LAYER_RU";
            tap-ms = <30>;
            wait-ms = <0>;
        };

        en: en {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&to_en>,
                <&macro_press>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&to_ru>;

            label = "EN";
            wait-ms = <0>;
            tap-ms = <30>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        en {
            bindings = <
&kp UNDER      &kp Q  &kp W     &kp E     &kp R          &kp T                                            &kp Y      &kp U  &kp I      &kp O     &kp P          &kp LEFT_BRACKET
&kp CAPSLOCK   &kp A  &hrl 2 S  &hrl 5 D  &hrl 3 F       &kp G                                            &kp H      &kp J  &hrr 5 K   &kp L     &kp SEMICOLON  &kp SINGLE_QUOTE
&mt LSHFT TAB  &kp Z  &kp X     &kp C     &kp V          &kp B                                            &kp N      &kp M  &kp COMMA  &kp DOT   &kp FSLH       &mt LG(LEFT_ALT) LS(TAB)
                      &mo 8     &mo 9     &kp BACKSPACE  &mo_to_ru LEFT_GUI 0  &kp LEFT_ALT    &kp ENTER  &kp SPACE  &none  &mkp MB1   &mkp MB2
            >;

            display-name = "En";
        };

        ru {
            display-name = "Ru";
            bindings = <
&kp RU_UNDER   &kp RU_CYRILLIC_SHORT_I  &kp RU_CYRILLIC_TSE      &kp RU_CYRILLIC_U      &kp RU_CYRILLIC_KA    &ru_io                                           &kp RU_CYRILLIC_EN  &kp RU_CYRILLIC_GHE  &kp RU_CYRILLIC_SHA    &kp RU_CYRILLIC_SHCHA  &kp RU_CYRILLIC_ZE   &kp RU_CYRILLIC_HA
&kp CAPS       &kp RU_CYRILLIC_EF       &hrl 2 RU_CYRILLIC_YERU  &hrl 6 RU_CYRILLIC_VE  &hrl 4 RU_CYRILLIC_A  &kp RU_CYRILLIC_PE                               &kp RU_CYRILLIC_ER  &kp RU_CYRILLIC_O    &hrr 6 RU_CYRILLIC_EL  &kp RU_CYRILLIC_DE     &kp RU_CYRILLIC_ZHE  &kp RU_CYRILLIC_E
&mt LSHFT TAB  &kp RU_CYRILLIC_YA       &kp RU_CYRILLIC_CHE      &kp RU_CYRILLIC_ES     &kp RU_CYRILLIC_EM    &kp RU_CYRILLIC_I                                &kp RU_CYRILLIC_TE  &ru_signs            &kp RU_CYRILLIC_BE     &kp RU_CYRILLIC_YU     &kp RU_DOT           &mt LG(LEFT_ALT) LS(TAB)
                                        &mo 8                    &mo 9                  &kp BSPC              &mo_to_en LEFT_GUI 0  &kp LEFT_ALT    &kp ENTER  &kp SPACE           &none                &kp DOWN               &kp UP
            >;
        };

        nav {
            bindings = <
&trans  &none  &none   &none   &none   &none                     &none     &none          &none        &none      &none    &none
&trans  &none  &trans  &none   &none   &none                     &kp LEFT  &kp DOWN       &kp UP       &kp RIGHT  &kp TAB  &none
&trans  &none  &none   &none   &none   &none                     &none     &kp PAGE_DOWN  &kp PAGE_UP  &none      &trans   &trans
               &trans  &trans  &trans  &trans  &trans    &trans  &trans    &trans         &trans       &trans
            >;

            display-name = "Nav";
        };

        num_en {
            bindings = <
&trans  &none        &kp AT     &kp DLLR  &none   &none                     &kp ASTRK  &kp N7  &kp N8  &kp N9  &kp P     &kp CARET
&trans  &kp PERCENT  &kp LPAR   &kp RPAR  &trans  &none                     &kp PLUS   &kp N4  &kp N5  &kp N6  &kp N0    &kp SINGLE_QUOTE
&trans  &kp TILDE    &kp GRAVE  &kp HASH  &none   &none                     &kp MINUS  &kp N1  &kp N2  &kp N3  &kp FSLH  &trans
                     &trans     &trans    &trans  &trans  &trans    &trans  &trans     &trans  &trans  &trans
            >;

            label = "Numbers en";
        };

        num_ru {
            bindings = <
&trans  &none           &en AT     &en DLLR  &none   &none                     &en ASTRK  &kp N7  &kp N8  &kp N9  &en P     &en CARET
&trans  &en RU_PERCENT  &en LPAR   &en RPAR  &trans  &none                     &en PLUS   &kp N4  &kp N5  &kp N6  &kp N0    &en SINGLE_QUOTE
&trans  &en TILDE       &en GRAVE  &en HASH  &none   &none                     &en MINUS  &kp N1  &kp N2  &kp N3  &en FSLH  &trans
                        &trans     &trans    &trans  &trans  &trans    &trans  &trans     &trans  &trans  &trans
            >;

            label = "Numbers ru";
        };

        sym_en {
            bindings = <
&trans  &kp CARET    &kp AT     &none   &kp DLLR  &none                     &kp ASTRK  &kp LEFT_BRACKET  &kp AMPS       &kp RIGHT_BRACKET  &kp P      &kp BACKSLASH
&trans  &kp PERCENT  &kp LPAR   &trans  &kp RPAR  &none                     &kp PLUS   &kp LBRC          &kp KP_EQUAL   &kp RIGHT_BRACE    &kp UNDER  &kp SINGLE_QUOTE
&trans  &kp TILDE    &kp GRAVE  &none   &kp HASH  &none                     &kp MINUS  &kp EXCL          &kp LESS_THAN  &kp GREATER_THAN   &kp SLASH  &trans
                     &trans     &trans  &trans    &trans  &trans    &trans  &trans     &trans            &trans         &trans
            >;

            display-name = "Symbols ru";
            label = "Symbols en";
        };

        sym_ru {
            display-name = "Symbols ru";
            bindings = <
&trans  &en CARET    &en AT     &none   &en DLLR  &none                     &en ASTRK  &en LEFT_BRACKET  &en AMPS       &en RIGHT_BRACKET  &en P      &en BACKSLASH
&trans  &en PERCENT  &en LPAR   &trans  &en RPAR  &none                     &en PLUS   &en LBRC          &en KP_EQUAL   &en RIGHT_BRACE    &en UNDER  &en SINGLE_QUOTE
&trans  &en TILDE    &en GRAVE  &none   &en HASH  &none                     &en MINUS  &en EXCL          &en LESS_THAN  &en GREATER_THAN   &en SLASH  &trans
                     &trans     &trans  &trans    &trans  &trans    &trans  &trans     &trans            &trans         &trans
            >;
        };

        adj {
            bindings = <
&bootloader  &none  &kp F1  &kp F2   &kp F3   &kp F4                   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2      &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR
&none        &none  &kp F5  &kp F6   &kp F7   &kp F8                   &out OUT_BLE  &kp C_VOL_DN  &kp C_MUTE        &kp C_VOL_UP  &none         &studio_unlock
&none        &none  &kp F9  &kp F10  &kp F11  &kp F12                  &out OUT_USB  &kp C_PREV    &kp C_PLAY_PAUSE  &kp C_NEXT    &none         &none
                    &none   &none    &none    &none    &none    &none  &none         &trans        &none             &none
            >;

            display-name = "Adjust";
        };

        scroll {
            bindings = <
&trans  &trans  &trans  &trans       &trans    &trans                      &trans    &trans    &trans       &trans  &trans  &trans
&trans  &trans  &trans  &mkpl 9 MB2  &mkp MB1  &mkp MB3                    &mkp MB3  &mkp MB1  &mkpl 9 MB2  &trans  &trans  &trans
&trans  &trans  &trans  &trans       &trans    &trans                      &trans    &trans    &trans       &trans  &trans  &trans
                &trans  &trans       &trans    &trans    &trans    &trans  &trans    &trans    &trans       &trans
            >;

            display-name = "Scroll";
        };

        sniper {
            bindings = <
&trans  &trans  &trans    &trans    &trans    &trans                      &trans    &trans    &trans    &trans    &trans  &trans
&trans  &trans  &mkp MB3  &mkp MB2  &mkp MB1  &mkp MB3                    &mkp MB3  &mkp MB1  &mkp MB2  &mkp MB3  &trans  &trans
&trans  &trans  &trans    &trans    &trans    &trans                      &trans    &trans    &trans    &trans    &trans  &trans
                &trans    &trans    &trans    &trans    &trans    &trans  &trans    &trans    &trans    &trans
            >;

            display-name = "Sniper";
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};

&trackball { cpi = <1600>; };

&trackball_listener {
    input-processors = <&zip_xy_scaler 9 20>;

    scroller {
        layers = <8>;
        input-processors =
            <&zip_xy_transform INPUT_TRANSFORM_Y_INVERT>,
            <&zip_xy_scaler 1 32>,
            <&zip_xy_to_scroll_mapper>;
    };

    sniper {
        layers = <9>;
        input-processors = <&zip_xy_scaler 1 6>;
    };
};
